.loginContainer {
    width: 30% !important;
    height: 100%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    margin-top: 2%;
    padding: 5%;
    font-size: 5rem;
}

.loginTitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.loginSubtitle {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
